*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

#cabecalho{
    background-color: rgb(60, 2, 2);
    width: 100%;
    height: 50vh;
} 

#quemsomos{
    background-color: rgb(185, 185, 185);
    width: 100%;
    height: 400vh;
}

#rodape{
    background-color:rgb(60, 2, 2);
    width: 100%;
    height:50vh;


}