*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'fonte';
    src: url(HEINEKEN.TTF);
}
@font-face {
    font-family: 'fonte1';
    src: url(SairaCondensed-Thin.ttf);
}
#cabecalho{
    background-color: rgb(60, 2, 2);
    width: 100%;
    height: 50vh;
}
#cafe{
    background-color:rgb(185, 185, 185);
    width: 100%;
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
@keyframes falacafes {
    0% {
      transform: translateX(-500px);
    }
  
    100% {
      transform: translateX(30px);
    }
}

#falacafe{

    width: 50%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    text-align: end;
    overflow: hidden;
    animation: falacafes 3s;
    animation-timing-function: ease;

}
h1.fonte{
    font-family: 'fonte';
}
h5.fonte1{
    font-family: 'fonte1';
}



#imgcafe{
    width: 50%;
    height: 60vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#carousel{
    width: 100%;
    height: 100vh;
}
#cfplace{
    background-color: rgb(185, 185, 185);
    width:100% ;
    height: 70vh;
}
#rodape{
    background-color: rgb(60, 2, 2);
    width: 100%;
    height: 50vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50vh; 

    

}